<footer class="footer padding_container">
  <div class="footer__container flex_card_wrap">
    <div class="footer__column flex_card_4">
      <a class="footer_logo" href="<%- url_for() %>">
        <img class="footer__column_title" src="<%- url_for('/css/images/logo.png') %>" />
      </a>
      <p>
        At Happy Kids Education, we integrate passion with academic excellence to nurture the future
        leaders of tomorrow.
        We provide a comprehensive solution for students aspiring to pursue careers in the STEM
        field.
        Our guiding principle remains: "Try harder, and try smarter."
      </p>
    </div>
    <div class="footer__column flex_card_4" id="footer-wechat">
      <h3 class="footer__column_title">WECHAT</h3>
      <img src="<%- url_for('/css/images/qrcode.png') %>" />
    </div>
    <div class="footer__column flex_card_4" id="footer-services">
      <h3 class="footer__column_title">SERVICES</h3>
      <a href="<%- url_for('/courses/robotics') %>">Robotics</a>
      <a href="<%- url_for('/courses/coding') %>">Coding</a>
      <a href="<%- url_for('/courses/mentorship') %>">Mentorship</a>
    </div>
    <div class="footer__column flex_card_4" id="footer-links">
      <h3 class="footer__column_title">USEFULL LINKS</h3>
      <a href="<%- url_for('') %>">Home</a>
      <a href="<%- url_for('/about') %>">About</a>
      <a href="<%- url_for('/our-team') %>">Our Team</a>
      <a href="<%- url_for('/gallery') %>">Gallery</a>
      <a href="<%- url_for('/news') %>">News</a>
      <a href="<%- url_for('/contact') %>">Contact</a>
    </div>
  </div>
  <div class="footer__contact flex_card_wrap">
    <div class="flex_card_4 footer_card">
      <i class="fa fa-solid fa-heart fa-lg"></i>
      <a target="_blank" href="https://www.xiaohongshu.com/user/profile/655e3bca000000000802d090?xhsshare=CopyLink&appuid=5d4d182c0000000011024093&apptime=1708161269">小红书</a>
    </div>
    <div class="flex_card_4 footer_card">
      <i class="fa fa-solid fa-envelope fa-lg"></i>
      <a href="mailto:happykidsrobotics@gmail.com">happykidsrobotics@gmail.com</a>
    </div>
    <div class="flex_card_4 footer_card">
      <i class="fa fa-solid fa-phone fa-lg"></i>
      <a href="tel:858-315-9999">858-315-9999</a>
    </div>
    <div class="flex_card_4 footer_card">
      <i class="fa fa-solid fa-location-arrow fa-lg"></i>
      <a target="_blank" href="https://www.google.com/maps/place/1311+S+Grand+Ave,+Glendora,+CA+91740,+USA/@34.115753,-117.8758009,17z/data=!3m1!4b1!4m6!3m5!1s0x80c3288176af4619:0xe23fbe4696ca9883!8m2!3d34.1157486!4d-117.8732206!16s%2Fg%2F11bw3_0cpn?entry=ttu">1311 S Grand Ave, Suite 170, Glendora, CA</p>
    </div>
  </div>
  <hr class="footer__divide" />
  <p class="footer__copyRight">
    Copyright 2024 <span>Happy Kids Education, California</span> All Rights
    Reserved
  </p>
</footer>