<body>
  <div class="secondary-hero small-bottom-gap">
    <% if (page.featuredImage) { %>
      <img src="<%- url_for(page.featuredImage) %>" alt="about" />
    <% } %>
    <h1><%- page.title %></h1>
  </div>
  <main class="page-body">
    <div class="courses-listing-info padding_container bottom_gap">
      <h2 class="title"><%- page.title %></h2>
        <p class="description__introduction">
          <%- site.data.courses[page.key].description %>
        </p>
    </div>
      
    <% if (site.data.courses[page.key].highlights) { %>
      <div class="key-highlight-info padding_container bottom_gap">
        <h2 class="title">Key Highlights</h2>

        <div class="advantages__items flex_card_wrap">
          <% for (var i in site.data.courses[page.key].highlights) { %>
            <%- partial('_widget/advantage', {title: i, content: site.data.courses[page.key].highlights[i], height: '320px'}) %>
          <% } %>
        </div>
      </div>
    <% } %>

    <% if (site.data.courses[page.key].cta) { %>
      <div class="key-highlight-info padding_container">
        <div class="description__introduction">
          <%- site.data.courses[page.key].cta %>
        </div>
      </div>
    <% } %>

    <% if (site.data.courses[page.key].courses) { %>
      <section class="inner_courses padding_container medium-top-gap flex_card_wrap start bottom_gap">
        <% for (var i in site.data.courses[page.key].courses) { %>
          <% if (page.key === "robotics") { // only use v2 for robotics page %>
            <%- partial('_widget/course-card-v2', {
              featuredImage: site.data.courses[page.key].courses[i].featuredImage,
              bestseller: site.data.courses[page.key].courses[i].bestseller,
              title: site.data.courses[page.key].courses[i].name,
              courseUrl: 'courses/' + page.key + '/' + i,
              description: site.data.courses[page.key].courses[i].shortDescription,
              age: site.data.courses[page.key].courses[i].age,
              learnTime: site.data.courses[page.key].courses[i].time,
              location: site.data.courses[page.key].courses[i].location
            }) %>
          <% } else { %>
            <%- partial('_widget/course-card', {
              featuredImage: site.data.courses[page.key].courses[i].featuredImage,
              bestseller: site.data.courses[page.key].courses[i].bestseller,
              title: site.data.courses[page.key].courses[i].name,
              courseUrl: 'courses/' + page.key + '/' + i,
              description: site.data.courses[page.key].courses[i].shortDescription,
              noOfRating: site.data.courses[page.key].courses[i].noOfRating
            }) %>
          <% } %>
        <% } %>
      </section>
    <% } %>
  </main>
</body>