<div class="secondary-hero bottom_gap">
  <img src="<%- url_for(page.featuredImage) %>" alt="about" />
  <h1><%- page.title %></h1>
</div>
<section class="cards flex_card_wrap bottom_gap">
  <div class="card flex_card_4">
    <img src="<%- url_for('/css/images/svg/location-dot.svg') %>" />
    <h2>Address</h2>
    <p>1311 S Grand Ave, Suite 170, Glendora, CA</p>
  </div>
  <div class="card flex_card_4">
    <a href="tel:8583159999">
      <img src="<%- url_for('/css/images/svg/phone-volume.svg') %>" />
      <h2>Phone</h2>
      <p>858-315-9999</p>
    </a>
  </div>
  <div class="card flex_card_4">
    <a href="mailto: happykidsrobotics@gmail.com">
      <img src="<%- url_for('/css/images/svg/envelope-open-text.svg') %>" />
      <h2>E-mail</h2>
      <p style="overflow-wrap: break-word;">happykidsrobotics@gmail.com</p>
    </a>
  </div>
  <div class="card flex_card_4">
    <h2>WeChat</h2>
    <img class="card__qr" src="<%- url_for('/css/images/qrcode.png') %>" />
  </div>
</section>
<main class="container">
  <%- partial('_partial/contact-container') %>
</main>