<body>

  <div class="secondary-hero bottom_gap">
    <img src="<%- url_for(page.featuredImage) %>" alt="about" />
    <h1 ><%- page.title %></h1>
  </div>
  <section class="main padding_container">
    <div class="content ">
      <h3 id="What-you-can-expect-to-learn">
        <a href="#What-you-can-expect-to-learn" class="headerlink" title="What you can expect to learn"></a>What you can expect to learn
      </h3>
      <p>
        Anticipate a comprehensive learning journey where you’ll gain
        foundational knowledge of the VEX VRC Robotics Competition. Dive
        into the intricacies of mechanical principles and programming
        design, actively fostering a keen interest in STEM disciplines
        through engaging, hands-on experiences. Our program aims to
        provide you with practical insights, collaborative projects, and
        essential technical skills, ensuring a strong foundation for
        continued exploration and success in the dynamic world of robotics
        and STEM.Anticipate a comprehensive learning journey where you’ll
        gain foundational knowledge of the VEX VRC Robotics Competition.
        Dive into the intricacies of mechanical principles and programming
        design, actively fostering a keen interest in STEM disciplines
        through engaging, hands-on experiences. Our program aims to
        provide you with practical insights, collaborative projects, and
        essential technical skills, ensuring a strong foundation for
        continued exploration and success in the dynamic world of robotics
        and STEM.Anticipate a comprehensive learning journey where you’ll
        gain foundational knowledge of the VEX VRC Robotics Competition.
        Dive into the intricacies of mechanical principles and programming
        design, actively fostering a keen interest in STEM disciplines
        through engaging, hands-on experiences. Our program aims to
        provide you with practical insights, collaborative projects, and
        essential technical skills, ensuring a strong foundation for
        continued exploration and success in the dynamic world of robotics
        and STEM.Anticipate a comprehensive learning journey where you’ll
        gain foundational knowledge of the VEX VRC Robotics Competition.
        Dive into the intricacies of mechanical principles and programming
        design, actively fostering a keen interest in STEM disciplines
        through engaging, hands-on experiences. Our program aims to
        provide you with practical insights, collaborative projects, and
        essential technical skills, ensuring a strong foundation for
        continued exploration and success in the dynamic world of robotics
        and STEM.
      </p>
      <p>
        <strong><img src="<%- url_for('/css/images/svg/person.svg') %>" />Age:</strong> Any
      </p>
      <p>
        <strong><img src="<%- url_for('/css/images/svg/list-check.svg') %>" />Requirements:</strong>
        None
      </p>
      <p>
        <strong><img src="<%- url_for('/css/images/svg/book-open.svg') %>" />Level:</strong>
        Easy
      </p>
      <p>
        <strong><img src="<%- url_for('/css/images/svg/clock.svg') %>" />Time:</strong>
        2h&#x2F;Week
      </p>
      <p>
        <strong><img src="<%- url_for('/css/images/svg/money-bill-1.svg') %>" />Price:</strong>
        Contact
      </p>
      <p>
        <strong><img src="<%- url_for('/css/images/svg/location-dot.svg') %>" />Location:</strong>
        In Person
      </p>
    </div>
    <div class="info">
      <img class="cover" src="<%- url_for(page.featuredImage) %>" />

      <div class="info-content">
        <div class="small-bottom-gap">
          <h2 class="name">Intro to Robotic Engineering</h2>
          <span class="teacher"></span>
          <p class="desc">
            Intro to mechanical principles and programming design with VEX
            V5
          </p>
          <!-- <span class="time">time: </span> -->
        </div>
        <a class="register " target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSdcHt47Yk35Q-jKQ55DzaJEiuG9hnh6JuoEvGpV-uLTMTkzrw/viewform?usp=sf_link">Register</a>
      </div>
    </div>
  </section>
</body>
<main class="page-body">
  <main class="container ">
    
  </main>
</main>