<body>
  <div class="secondary-hero bottom_gap">
    <img src="<%- url_for(page.featuredImage) %>" alt="about" />
    <h1 ><%- page.title %></h1>
  </div>
  <section class="main padding_container">
    <div class="content ">
      <h3 id="What-you-can-expect-to-learn">
        <a href="#What-you-can-expect-to-learn" class="headerlink" title="What you can expect to learn"></a>What you can expect to learn
      </h3>
      <p>
        <%- site.data.courses[page.courseCategory].courses[page.key].longDescription %>
      </p>
      <p>
        <b><img src="<%- url_for('/css/images/svg/person.svg') %>" />Age:</b> <%- site.data.courses[page.courseCategory].courses[page.key].age %>
      </p>
      <p>
        <b><img src="<%- url_for('/css/images/svg/list-check.svg') %>" />Requirements:</b>
        <%- site.data.courses[page.courseCategory].courses[page.key].requirements %>
      </p>
      <p>
        <b><img src="<%- url_for('/css/images/svg/book-open.svg') %>" />Level:</b>
        <%- site.data.courses[page.courseCategory].courses[page.key].level %>
      </p>
      <p>
        <b><img src="<%- url_for('/css/images/svg/clock.svg') %>" />Time:</b>
        <%- site.data.courses[page.courseCategory].courses[page.key].time %>
      </p>
      <p>
        <b><img src="<%- url_for('/css/images/svg/money-bill-1.svg') %>" />Price:</b>
        Contact
      </p>
      <p>
        <b><img src="<%- url_for('/css/images/svg/location-dot.svg') %>" />Location:</b>
        <%- site.data.courses[page.courseCategory].courses[page.key].location %>
      </p>
    </div>
    <div class="info">
      <img class="cover" src="<%- url_for(page.featuredImage) %>" />

      <div class="info-content">
        <div class="small-bottom-gap">
          <h2 class="name"><%- site.data.courses[page.courseCategory].courses[page.key].name %></h2>
          <span class="teacher"></span>
          <p class="desc">
            <%- site.data.courses[page.courseCategory].courses[page.key].shortDescription %>
          </p>
          <!-- <span class="time">time: </span> -->
        </div>
        <a class="register" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSdcHt47Yk35Q-jKQ55DzaJEiuG9hnh6JuoEvGpV-uLTMTkzrw/viewform?usp=sf_link">Redeem your free session!</a>
      </div>
    </div>
  </section>
</body>
<main class="page-body">
  <main class="container ">
    
  </main>
</main>