<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="home.css" />
  </head>
  <body>
    <div>
      <div class="carousel">
        <ul class="slides">
          <input type="radio" name="radio-buttons" id="img-1" checked />
          <li class="slide-container">
            <div class="slide-image">
              <img src="<%- url_for('/css/images/coding-avatar.png') %>">
            </div>
            <div class="slide-content-wrapper">
              <div class="slide-content">
                <h1>Welcome to Happy Kids Education!</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur molestias ratione sunt quidem reiciendis atque a ipsum vel provident earum architecto dolor pariatur officiis consectetur, optio impedit. Itaque, dolorum praesentium.</p>
              </div>
              <button><a href="./gallery.html">Find Out More!</a></button>
            </div>
            <div class="carousel-controls">
              <label for="img-3" class="prev-slide">
                <span>&lsaquo;</span>
              </label>
              <label for="img-2" class="next-slide">
                <span>&rsaquo;</span>
              </label>
            </div>
          </li>
          <input type="radio" name="radio-buttons" id="img-2" />
          <li class="slide-container">
            <div class="slide-image">
              <img src="<%- url_for('/css/images/robotic-avatar.png') %>">
            </div>
            <div class="carousel-controls">
              <label for="img-1" class="prev-slide">
                <span>&lsaquo;</span>
              </label>
              <label for="img-3" class="next-slide">
                <span>&rsaquo;</span>
              </label>
            </div>
          </li>
          <input type="radio" name="radio-buttons" id="img-3" />
          <li class="slide-container">
            <div class="slide-image">
              <img src="<%- url_for('/css/images/about_us.jpg') %>">
            </div>
            <div class="carousel-controls">
              <label for="img-2" class="prev-slide">
                <span>&lsaquo;</span>
              </label>
              <label for="img-1" class="next-slide">
                <span>&rsaquo;</span>
              </label>
            </div>
          </li>
          <div class="carousel-dots">
            <label for="img-1" class="carousel-dot" id="img-dot-1"></label>
            <label for="img-2" class="carousel-dot" id="img-dot-2"></label>
            <label for="img-3" class="carousel-dot" id="img-dot-3"></label>
          </div>
        </ul>
      </div>
    </div>
    <main class="body">
      <section class="courses flex_card_wrap padding_container bottom_gap">
        <% for (var i in theme.menu['Courses'].children){ %>
          <div class="courses_item zoom flex_card_4">
            <a href="<%- url_for(theme.menu['Courses'].url + theme.menu['Courses'].children[i].url) %>">
              <img src="<%- url_for(theme.menu['Courses'].children[i].avatar) %>" />
              <h2><%- i %></h2>
              <ul>
                <% for (var h in theme.menu['Courses'].children[i].descriptions){ %>
                  <li> <%- theme.menu['Courses'].children[i].descriptions[h] %></li>
                <% } %>
                </ul>
            </a>
          </div>
        <% } %>
      </section>
      <section class="aboutUs padding_container bottom_gap">
        <img src="<%- url_for('/css/images/about_us.jpg') %>" />
        <div class="aboutUs__content">
          <h1>ABOUT US</h1>
          <p>
            Welcome to <b>Happy Kids Education</b>, where passion and excellence shape
            future leaders. We offer holistic STEM education, including
            robotics, coding, digital art, career planning, and college
            consulting for a comprehensive learning experience. Our cutting-edge
            programs foster a love for learning, technology enthusiasm, and
            creativity, ensuring students develop practical skills for success.
          </p>
        </div>
      </section>
      <section class="advantages bottom_gap padding_container">
        <h1>OUR ADVANTAGES</h1>
        <div class="advantages__items flex_card_wrap">
          <% for (var i in theme.advantages) { %>
            <div class="advantages__item flex_card_3">
              <i class="fa fa-check-square fa-4x" aria-hidden="true"></i>
              <h4><%- i %></h4>
              <p>
                <%- theme.advantages[i] %>
              </p>
            </div>
          <% } %>
        </div>
      </section>
      <section class="gallery bottom_gap">
        <div class="gallery__content padding_container">
          <h1>OUR GALLERY</h1>
          <div class="gallery__items flex_card_wrap">
            <% for (let i = 0; i < 4; i++) { %>
             <img class="flex_card_4" src="<%- url_for(theme.galleries[i]) %>" />
            <% } %>
          </div>
          <button><a href="./gallery.html">View All</a></button>
        </div>
      </section>
      <section class="news padding_container bottom_gap">
        <h1>NEWS</h1>
        <div class="news__items flex_card_wrap">
          <% for (var i in site.posts.toArray()) { %>
            <div class="news__item zoom flex_card_3">
              <a href="<%- url_for(site.posts.toArray()[i].path) %>">
                <img src="<%- url_for(site.posts.toArray()[i].featuredImage) %>" />
                <div class="news__item_content">
                  <p class="news__item_calendar">
                    <i class="fa fa-calendar"></i> <%- date(site.posts.toArray()[i].date) %>
                  </p>
                  
                  <h2><%- site.posts.toArray()[i].title %></h2>
                  <p>
                    <%- site.posts.toArray()[i]._content %><br>
                  </p>
                </div>
              </a>
            </div>
          <% } %>
        </div>
      </section>
      <section class="contact padding_container bottom_gap">
        <h1>CONTACT US</h1>
        <div class="contact-wrapper">
          <div class="map-container">
            <div class="dot">
              <svg aria-hidden="true" class="e-font-icon-svg e-fas-circle" viewBox="0 0 512 512">
                <path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z">
                </path>
              </svg>
            </div>
            <a href="https://www.google.com/maps/place/1311+S+Grand+Ave,+Glendora,+CA+91740,+USA/@34.115753,-117.8758009,17z/data=!3m1!4b1!4m6!3m5!1s0x80c3288176af4619:0xe23fbe4696ca9883!8m2!3d34.1157486!4d-117.8732206!16s%2Fg%2F11bw3_0cpn?entry=ttu" target="_blank" class="address">1311 Grand Ave,<br>Suite 170, Glendora, CA</a>
            <img class="map-image" src="https://img.freepik.com/premium-vector/dotted-world-map-white-background_132079-967.jpg" alt="Map Image">
          </div>
          <div class="contact__form">
            <form>
              <input type="text" name="fullName" id="fullName" placeholder="Full Name*" required />
              <input type="text" name="phoneNumber" id="phoneNumber" placeholder="Phone Number" />
              <input type="email" name="email" id="email" placeholder="Email Address*" required />
              <textarea name="message" id="message" rows="5" placeholder="Message"></textarea>
              <select name="services" id="services">
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
              </select>
              <button type="submit">Let's Get Started!</button>
            </form>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
