<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>

  <body>
    <div id="myModal" class="modal">

      <!-- The Close Button -->
      <span class="close">&times;</span>
  
      <div class="modal-content-wrapper">
        <img class="modal-content" id="img01">
        <div id="caption"></div>
      </div>
    </div>

    <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
    <section><%- body %></section>
    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    <%- partial('_partial/after-footer') %>

    <script>
      // Function to handle click event and display modal
      function openModal(imgElement) {
        var modal = document.getElementById("myModal");
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");
    
        // Set modal content
        modalImg.src = imgElement.src;
        captionText.innerHTML = imgElement.alt;
    
        // Display modal
        modal.style.display = "block";
      }
    
      // Function to close modal
      function closeModal() {
        var modal = document.getElementById("myModal");
        modal.style.display = "none";
      }
    
      // Get all image elements with class 'modal-img'
      var images = document.getElementsByClassName("modal-img");
    
      // Add click event listener to each image element
      Array.from(images).forEach(function (img) {
        img.onclick = function () {
          openModal(img);
        };
      });
    
      // Get the <span> element that closes the modal
      var span = document.getElementsByClassName("close")[0];
    
  
      // When the user clicks on <span> (x), close the modal
      span.onclick = function () {
        closeModal();
      }
    
      // Close the modal when the user clicks anywhere outside of the modal
      window.onclick = function (event) {
        var modal = document.getElementById("myModal");
        if (event.target == modal) {
          closeModal();
        }
      }
    </script>
  </body>
</html>